:root {
  --primary-color: #166FC1;
  --secondary-color: #fff;
  --shade: #ccc;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-image {
  margin-bottom: 20px;
  margin-right: 20px;
}

.login-content {
  display: flex;
  align-items: center;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--shade);
  border-radius: 4px;
}

.login-form h2 {
  text-align: center;
}

.login-form form {
  margin-bottom: 10px;
}

.login-form input {
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid var(--shade);
  border-radius: 4px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.login-form p {
  margin-top: 6px;
  margin-bottom: 5px;
  justify-content: flex-end;
  display: flex;
}
.login-text {
  font-size: 32px;
  color: var(--primary-color);
}
.sing-up{
  color: var(--primary-color);
}

.error-mensage {
  color: red;
}